<mat-toolbar class="navbar">

    <div class="center" >
        <h1 style="font-size: 35px; ">
            Welcome to our Shopping E-Kart 
            <br><br>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item" style="font-size: 17px; margin-right: 10px;" >
                        <a class="nav-link active" routerLink="/home" style="background-color: rgb(156, 233, 233);">
                            <b>Home</b>
                        </a>
                    </li>

                    <li class="nav-item" style="font-size: 17px;">
                        <a class="nav-link active" routerLink="/todaydeals" style="background-color: rgb(156, 233, 233);"> 
                            <b>Today's Deal</b>
                        </a>
                    </li>

                </ul>
            </nav>
        </h1>
    </div>
    
</mat-toolbar>
<router-outlet></router-outlet>